.section-item-card{
    padding:  var(--border-primary);
    background-color: var(--color-dark);
    border-radius:  var(--border-primary);
    
    
    }
    .section-item-card img{
        border-radius:  var(--border-primary);
    }
    
    .card-content{
        display: flex;
        color: var(--color-light);
        justify-content: space-between;
        padding:  calc( var(--border-primary)/2);
    }
    .card-content h4 span{
        color: #323434;
    }